<nav>
  <!-- Mostrar Login y Registro solo si NO estás autenticado -->
  <button *ngIf="!auth.isAuthenticated()" routerLink="/login">Login</button>
  <button *ngIf="!auth.isAuthenticated()" routerLink="/register">Registro</button>

  <!-- Mostrar Productos si estás autenticado -->
  <button *ngIf="auth.isAuthenticated()" routerLink="/products">Productos</button>

  <!-- Solo mostrar Admin si el rol es ADMIN -->
  <button *ngIf="auth.isAdmin()" routerLink="/admin">Admin</button>

  <!-- Mostrar Cerrar sesión solo si estás autenticado -->
  <button *ngIf="auth.isAuthenticated()" (click)="logout()">Cerrar sesión</button>
</nav>

<router-outlet></router-outlet>
